<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <div class="header-top">
            <h1>YU-GI-OH Cards</h1>
            <div class="user-logout">
                <h4>{{ request.user.username }}</h4>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fas fa-sign-out-alt"></i> SAIR</button>
                </form>
            </div>
        </div>
    </header>

    <div class="container">
        {% for i in cards.object_list %}
            <div class="card-container">
                <button type="button" class="toggleButton"><img class="image_card" src="{{ i.img }}" alt="img_card"></button>
                <div id="div_{{ forloop.counter }}" class="hidden">
                    <p>Nome: {{ i.name }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="paginator">
            {% if cards.has_previous %}
                <a href="{% url 'homepage' %}?page={{ cards.previous_page_number }}">Anterior</a>
            {% endif %}
            {% if cards.has_next %}
                <a href="{% url 'homepage' %}?page={{ cards.next_page_number }}">Próximo</a>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
