body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
    padding-top: 60px;
    /* Espaço para a navbar */
    min-height: 100vh;
    /* Garante que o corpo ocupe toda a altura da viewport */
    background: url('img/img_index.gif') no-repeat center center fixed;
    background-size: cover;
}


header {
    background-color: #0056b3;
    /* Header totalmente transparente */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 45px;
    text-decoration: dotted;
    color: #fff;
    /* Cor branca para se destacar no fundo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Sombra para destacar o texto */
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que as imagens quebrem para a próxima linha, se necessário */
    justify-content: center;
    /* Centraliza as imagens dentro do container */
    gap: 10px;
    /* Espaçamento entre os itens */
    padding: 10px;
    /* Adiciona espaçamento interno */
    flex-grow: 1;
    /* Faz o container crescer para ocupar o espaço disponível */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    /* Largura fixa para as imagens */
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px gray;
    padding: 10px;
}

.image_card {
    max-width: 100%;
    /* Garante que as imagens não sejam maiores que o container */
    height: auto;
    /* Mantém a proporção da imagem */
}

.paginator {
    margin: 20px 0;
}

.paginator a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 5px;
}

.paginator a:hover,
.paginator a:focus {
    background-color: #0056b3;
}


article {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px gray;
}

.header-top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 70px;
    /* Espaço para a navbar */
}

.card-container-2 {
    flex: 0 0 auto;
    margin-right: 20px;
}

.image_card-2 {
    width: 400px;
    /* Aumenta a largura da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px gray;
}

.card-info {
    flex: 1 1 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 2px -2px gray;
}

.card-info p {
    margin: 10px 0;
}

.card-info strong {
    font-weight: bold;
}



