# Python
*.py[cod]
__pycache__/
*.so
*.env
.env

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/
/static/

# Environments
.env.local
.env.development.local
.env.test.local
.env.production.local

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
.xml/
