.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputField {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .buttonSubmit {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .aLink {
    margin-top: 10px;
    color: #0070f3;
    text-decoration: none;
  }
  